{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/music_player_style.css' %}">
<div class="player">
    <div class="details">
        <div class="track-art">
            <img class="track-art" src=""/>
        </div>
        <div class="track-name">{{ track_name }}</div>
        <div class="track-artist">{{ artist_name }}</div>
    </div>
    <div class="buttons">
        <form id="prev-form" action="{% url 'music_player' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="">
        </form>
        <div class="prev-track" onclick="prevTrack()">
            <i class="fa fa-step-backward fa-2x"></i>
        </div>
        <form id="play-pause-form" action="{% url 'music_player' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="">
        </form>
        <div id="PlayPauseButton" class="play-pause-track">
            <i class="fa fa-pause fa-5x" id="pause" onclick="pauseTrack()"></i>
            <i class="fa fa-play-circle fa-5x" id="play" onclick="playTrack()"></i>
        </div>
        <form id="skip-form" action="{% url 'music_player' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="">
        </form>
        <div class="next-track" onclick="nextTrack()">
            <i class="fa fa-step-forward fa-2x"></i>
        </div>
    </div>
    <div class="current-time" data-duration="{{ progress }}">{{ progress_duration }}</div>
    <div class="progress-container">
        <div class="progress-bar" onchange="seekTo()" data-duration="{{ milliseconds }}">
        </div>
    </div>
    <div class="total-duration">{{ duration }}</div>
    <div hidden class="duration-mili">{{ milliseconds }}</div>
    <div class="slider_container">
        <form id="volume_slider" action="{% url 'change_volume' %}" method="post">
            {% csrf_token %}
            <i class="fa fa-volume-down"></i>
            <input id="volume" name="volume" type="range" min="1" max="100" value="99" class="volume_slider">
            <i class="fa fa-volume-up"></i>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'scripts/music_player.js' %}"></script>
{% endblock %}